<div class="row">
    <div class="col-md-12">
        <form>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Informe o nome do usuário" [(ngModel)]="username" name="username" (keyup)="search()">    
            </div>    
        </form>    
    </div>    
</div>

<div *ngIf="user">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">{{user.name}}</h3>
        </div>
        <div class="card-block">
            <div class="row">
                <div class="col-md-3">
                    <img class="img-thumbnail github-avatar" src="{{user.avatar_url}}">
                    <a class="btn btn-outline-info btn-block" role="button" aria-disabled="true" target="_blank" href="{{ user.html_url }}">Ver profile</a>
                </div>
                <div class="col-md-9">
                    <div class="stats">
                        <span class="tag tag-default">{{user.public_repos}} Repositórios públicos</span>
                        <span class="tag tag-primary">{{user.public_gists}} Gists públicos</span>
                        <span class="tag tag-success">{{user.followers}} Seguidores</span>
                        <span class="tag tag-info">{{user.following}} Seguindo</span>
                    </div>
                    <br>
                    <ul class="list-group">
                        <li class="list-group-item"><strong>Usuário: </strong>{{user.login}}</li> 
                        <li class="list-group-item"><strong>Local: </strong>{{user.location}}</li>
                        <li class="list-group-item"><strong>Email: </strong>{{user.email}}</li>
                        <li class="list-group-item"><strong>Blog: </strong>{{user.blog}}</li> 
                        <li class="list-group-item"><strong>Membro desde: </strong>{{user.created_at}}</li>  
                    </ul>
                </div>    
            </div>
        </div>
    </div>
    
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Repositórios</h3>
        </div>
        <div class="card-block">
            <div class="row">
                <div class="col-md-12">
                    <div *ngFor="let repo of repos">
                        <div class="row">
                            <div class="col-md-9">
                                <h4><a href="{{repo.html_url}}" target="_blank">{{repo.name}}</a></h4>    
                                <p>{{repo.description}}</p>
                            </div>
                            <div class="col-md-3">
                                <span class="tag tag-default">{{repo.watchers}} Watchers</span>
                                <span class="tag tag-primary">{{repo.forks}} Forks</span>
                            </div>    
                        </div> 
                        <hr />  
                    </div>    
                </div>    
            </div>
        </div>
   </div>
</div>
